/* 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #222;
  position: relative;
  min-height: 100vh;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 335px;
  height: 535px;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 2;
}
.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}
.modal p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}
button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}
.btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: #6d8434;
  color: white;
  border-radius: 30px;
  text-align: center;
  font-size: 1em;
}
.btn-open {
  position: absolute;
  bottom: 150px;
}
.btn-close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}
.hidden {
  display: none;
}
.btnplusimg {
  display: flex;
  gap: 40px;
} */
.list {
  text-decoration: none;
}
.items {
  text-decoration: none;
}
.image-product {
  border-radius: 10px;
  background: #e8e8e2;
  padding: 26px 40px 26px 40px;
  width: 240px;
  height: 212px;
}
.title-product {
  color: #010101;
  font-family: Neue Montreal;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}
.list-items {
  color: rgba(1, 1, 1, 0.3);
  font-family: Neue Montreal;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
}
.info-about-products {
  color: #010101;
  font-family: Neue Montreal;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
}
.about-product {
  color: rgba(1, 1, 1, 0.7);
  font-family: Neue Montreal;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  max-width: 256px;
}
.price {
  color: #010101;
  font-family: Neue Montreal;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}
.add-btn {
  color: #e8e8e2;
  font-family: Neue Montreal;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  border-radius: 30px;
  background: #6d8434;
  padding: 10px 28px 10px 28px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  min-width: 130px;
  height: 40px;
  border: none;
}
.cart-icon {
  fill: #e8e8e2;
}
.info-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-info {
}
.information {
}
.list-item {
}
/** -----------------MODAL-------------------- **/
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(1, 1, 1, 0.4);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.modal {
  width: 600px;
  min-height: 380px;
  background-color: #fafafa;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}
.modal-close-btn {
  border: none;
  background: transparent;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}
